[submodule "CRNN_Tensorflow"]
	path = CRNN_Tensorflow
	url = https://github.com/MaybeShewill-CV/CRNN_Tensorflow
[submodule "sar-pytorch"]
	path = sar-pytorch
	url = https://github.com/liuch37/sar-pytorch
[submodule "MaskTextSpotter"]
	path = MaskTextSpotter
	url = https://github.com/MhLiao/MaskTextSpotter
