body {
  background: url('https://images.wallpaperscraft.com/image/points_cubes_background_light_91691_2560x1600.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#dataDiv {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}

#imagePreview, #processedImage {
  width: 80%;
  margin: 20px auto 20px auto;
}

#output {
  font-size: 20px;
  color: white;
  margin: 0 0 0 0;
}