<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Cache-Control" content="no-cache">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="dataDiv">
    <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="model1">model1</option>
            <option value="model2">model2</option>
            <option value="model3">model3</option>
            <option value="model4">model4</option>
        </select>
    </div>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" onchange="preview(this)">
            <label class="custom-file-label" for="inputGroupFile04">Select image</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-light" type="button" onclick="recognize()">Recognize</button>
        </div>
    </div>
    <img id="imagePreview" src="#" alt="yourImage" style="display: none" class="rounded"/>
</div>
</body>
</html>